#
# META-CONFIGURATIONS
#
[*build64]
TargetCpu = IA32 X64

[*build32]
TargetCpu = IA32

[*reports]
BuildOutput = Quiet
BuildReportPcd = TRUE
BuildReportLibrary = TRUE
BuildReportDepex = TRUE

[*noreports]
BuildOutput = Quiet
BuildReportPcd = FALSE
BuildReportLibrary = FALSE
BuildReportDepex = FALSE

[*release]
BuildTarget = RELEASE

[*debug]
BuildTarget = DEBUG

[*efidbg]
BuildMacro = EFI_DEBUG=YES

[*ddt : *debug]
BuildMacro = INSYDE_DEBUGGER=YES 

# TEST SCRIPT: USE WITH BroadwellMultiBoardPkg

#
# CONFIGURATIONS
#

[uefi64 : *build64 *reports *release]
Description = "Release X64 build for default board"
BuildPcd = gInsydeTokenSpaceGuid.PcdH2OMultiBoardPciOptionRomSupported=TRUE
BuildPcd = gInsydeTokenSpaceGuid.PcdH2OMultiBoardSupported=TRUE
BuildPcd = gInsydeTokenSpaceGuid.PcdH2OBuildAutoAdjust=TRUE
BuildPcd = gInsydeTokenSpaceGuid.PcdH2OMultiBoardVerbTableCfgSupported=TRUE

[uefi32 : *build32 *reports *release]
Description = "Release IA32 build for default board"

[Text : *build64 *reports *release]
BuildPcd = gInsydeTokenSpaceGuid.PcdH2OFormBrowserSupported=FALSE
BuildPcd = gInsydeTokenSpaceGuid.PcdH2OFormBrowserLocalTextDESupported=TRUE
