[MACRO]
  ALL                   = FAMILY15H|FAMILY17H|FAMILY19H
  FAMILY19H             = GN|BA|VMR|CZN|RMB|RS|CGL|RPL|PHX|MI3|STP
  FAMILY17H             = RV|ZP|SSP|MTS|RN|VN|MR|AR|MDN
  FAMILY15H             = AM4BR
  AM5                   = AM5RMB|AM5RPL
  AM4                   = AM4BR|AM4SM|AM4RV|AM4MTS|AM4RN|AM4VMR|AM4CZN
  FF3                   = FF3VN|FF3MR|FF3AR
  FP7                   = FP7RMB
  FP8                   = FP8PHX
  FP7R2                 = FP7R2RMB
  FT6                   = FT6MDN
  RV                    = AM4RV|FP5RV|FT5RV
  ZP                    = AM4SM|SP4SM|SP3ZP|SP4ZP|SP3TR
  SSP                   = SP3SSP|SP3CP
  MTS                   = AM4MTS
  VN                    = FF3VN
  MR                    = FF3MR
  AR                    = FF3AR
  RN                    = AM4RN|FP6RN
  GN                    = SP3GN
  BA                    = SP3BA
  VMR                   = AM4VMR
  CZN                   = AM4CZN|FP6CZN
  RMB                   = AM5RMB|FP7RMB|FP7R2RMB
  RS                    = SP5RS
  CGL                   = SP3CGL
  RPL                   = AM5RPL
  PHX                   = FP8PHX
  MDN                   = FT6MDN
  MI3                   = SH5MI3
  STP                   = SP6STP|TR5STP
[ENDMACRO]
