#
# META-CONFIGURATIONS
#
[*build64]
TargetCpu = IA32 X64

[*build32]
TargetCpu = IA32

[*reports]
BuildOutput = Quiet
BuildReportPcd = TRUE
BuildReportLibrary = TRUE
BuildReportDepex = TRUE

[*noreports]
BuildOutput = Quiet
BuildReportPcd = FALSE
BuildReportLibrary = FALSE
BuildReportDepex = FALSE

[*workspaces]
BuildWorkspace = $(WORKSPACE)\Board\AMD;$(WORKSPACE)\AMD\Renoir;$(WORKSPACE)\Insyde;$(WORKSPACE)\EDK2
BuildMacro = CHIPSET_REL_PATH=$(CHIPSET_REL_PATH)
BuildMacro = PROJECT_REL_PATH=$(PROJECT_REL_PATH)

[*release]
BuildTarget = RELEASE

[*debug]
BuildTarget = DEBUG

[*efidbg]
BuildMacro = EFI_DEBUG=YES

[*ddt : *debug]
BuildMacro = INSYDE_DEBUGGER=YES

[*sca]
BuildLogFile = "Build/$(PROJECT_PKG)/BuildLog.txt"
BuildMacro = SOURCE_CODE_ANALYSIS_BUILD=YES

# TEST SCRIPT: USE WITH BroadwellMultiBoardPkg

#
# CONFIGURATIONS
#

[uefi64 : *build64 *reports *release *workspaces]
Description = "Release X64 build for default board"
BuildPcd = gInsydeTokenSpaceGuid.PcdH2OMultiBoardPciOptionRomSupported=TRUE
BuildPcd = gInsydeTokenSpaceGuid.PcdH2OMultiBoardSupported=TRUE
BuildPcd = gInsydeTokenSpaceGuid.PcdH2OBuildAutoAdjust=TRUE
BuildPcd = gInsydeTokenSpaceGuid.PcdH2OMultiBoardVerbTableCfgSupported=FALSE

[uefi32 : *build32 *reports *release *workspaces]
Description = "Release IA32 build for default board"

[uefi64sca: *build64 *reports *release *workspaces *sca]
Description = "SCA support Release X64 build for default board"

[uefi32sca: *build32 *reports *release *workspaces *sca]
Description = "SCA support Release IA32 build for default board"